.coluna-dezenas-loto {
    color: #930089;
    font-size: 2rem;
    margin-left: -27px;
    width: 80%;
}

.coluna-dezenas-loto li {
    list-style: none;
    border-bottom: solid #DDDD;
    display: inline-block;
    padding: 10px;
    padding-left: 50px;
    padding-right: 30px;
}

li:nth-last-child(-n+5) {
    border-bottom: none;
}