.dezenas li {
    position: flex;
	margin: 1rem;
    font-weight: bold;
    display: inline;
    background-color: #209869;
    border-radius: 30px;
    padding: 0.8rem;
    font-size: 1.2rem;
    color: #fff;
}

.dezenas {
    margin-top: 50px;
}